@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;800&display=swap");
@import url(animate.css);
.fuentes, .nav-link {
  font-family: "Nunito Sans", sans-serif;
  font-style: inherit;
  font-weight: normal; }

.fuentesh1, h1 span, .classh1 {
  color: #d4696c;
  animation: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite; }

.card-body, .card-grupos {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap; }

footer, .header {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  font-family: "Nunito Sans", sans-serif;
  color: #969494;
  font-weight: bold;
  padding-top: 1%;
  background-color: none; }

.mainContacto {
  background-image: url(/img/dibus/finger.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 20%; }

.contenedor-formulario-contacto {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fbfafa;
  border-radius: 5px;
  max-width: 500px; }

.btn-submit {
  background-color: #d4696c;
  color: white; }

.btn-reset {
  background-color: #347855;
  color: white; }

/* -- ==================================================== 
-- Footer 
-- ====================================================  */
#iconos i {
  font-size: 26px;
  padding: 0 8px;
  color: #fbfafa; }

.fuentes, .nav-link {
  font-family: "Nunito Sans", sans-serif;
  font-style: inherit;
  font-weight: normal; }

.fuentesh1, h1 span, .classh1 {
  color: #d4696c;
  animation: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite; }

.card-body, .card-grupos {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap; }

footer, .header {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  font-family: "Nunito Sans", sans-serif;
  color: #969494;
  font-weight: bold;
  padding-top: 1%;
  background-color: none; }

footer p, .header p {
  margin-left: 3px;
  margin-right: 3px; }

.navbarNav {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap; }

.nav-link:hover {
  cursor: pointer;
  text-decoration: underline; }

.logo {
  margin-left: 10%; }

/* -- ==================================================== 
--  Sobre nosotras mapa
-- ====================================================  */
#local {
  padding-bottom: 300px;
  display: flex;
  justify-content: flex-start; }

.wrapper {
  width: 100%;
  padding-top: 150px; }

.fuentes, .nav-link {
  font-family: "Nunito Sans", sans-serif;
  font-style: inherit;
  font-weight: normal; }

.fuentesh1, h1 span, .classh1 {
  color: #d4696c;
  animation: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite; }

.card-body, .card-grupos {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap; }

footer, .header {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  font-family: "Nunito Sans", sans-serif;
  color: #969494;
  font-weight: bold;
  padding-top: 1%;
  background-color: none; }

/* -- ==================================================== 
-- imagenes de Carrousel 
-- ====================================================  */
.carousel-inner {
  max-height: 30rem !important; }

h1 span {
  animation: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite; }

.fuentes, .nav-link {
  font-family: "Nunito Sans", sans-serif;
  font-style: inherit;
  font-weight: normal; }

.fuentesh1, h1 span, .classh1 {
  color: #d4696c;
  animation: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite; }

.card-body, .card-grupos {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap; }

footer, .header {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  font-family: "Nunito Sans", sans-serif;
  color: #969494;
  font-weight: bold;
  padding-top: 1%;
  background-color: none; }

body {
  background-image: url(../img/fotos/fondoestrellas.svg);
  background-repeat: repeat;
  background-size: 300%;
  animation: movimiento 20s linear infinite alternate; }

.classh1 {
  animation: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite; }

.animation {
  display: inline-block;
  margin: 0 0.5rem;
  animation: bounce;
  animation-duration: 2s; }

@keyframes movimiento {
  from {
    background-position: bottom right; }
  to {
    background-position: top; } }
