/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;800&display=swap');


/*ExtraBold 800: font-family: 'Nunito Sans', sans-serif; */
/* Light 200: font-family: 'Nunito Sans', sans-serif; */
/* =====================================     */

:root {
    font-family: 'Nunito Sans', sans-serif;
    overflow: hidden;
}

#menu li>a {
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}

#menu form>button {
    font-size: 18px;
    font-weight: bold;

}