/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;800&display=swap');


$size: 20px;
$fondo-de-color: rgb(236, 165, 10);
$ancho: 100%;
$violeta: #3e0a82;
$green: green;
$verdeclaro: #c7ffdd;
$h1Desktop: 25px;
$h1Mobile: 18px;
$parrafoDesktop: 16px;
$parrafoMobile: 12px;
$vista: 1024px;
$tipo-de-letra: verdana;
$alinear-al-centro: center;
$tipoletra: 'Nunito Sans', sans-serif;