/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;800&display=swap');


// ===============COLORES=======================
$azul: #0b3497;
$amarillo: #e0ac39;
$rosa: #d4696c;
$verde: #347855;
$gris: #3f3f3f;


// ===============FUENTES=====================
$tipo-de-letra: 'Nunito Sans', sans-serif;
$font-size-header: 10px; 