@import "../variables/variables";
@import "../sass2/extend";
@import "../sass2/mixins";

.mainContacto {
    background-image: url(/img/dibus/finger.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 20%;
}

.contenedor-formulario-contacto {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fbfafa;
    border-radius: 5px;
    max-width: 500px;
}

.btn-submit {
    background-color: $rosa;
    color: white;
}

.btn-reset {
    background-color: $verde;
    color: white;
}
