@import "../variables/variables";


/* -- ==================================================== 
-- Footer 
-- ====================================================  */


footer {
    @extend .header;
}


#iconos i {
    font-size: 26px;
    padding: 0 8px;
    color: #fbfafa;
}
