@import "../variables/variables";
/* -- ==================================================== 
-- Header 
-- ====================================================  */
.contHeader {
    background-color: $azul;
}

#menu li>a {
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}

#menu form>button {
    font-size: 18px;
    font-weight: bold;
}



.nav-link:hover {
    background-color: #6bf5ad;
    cursor: pointer;
    text-decoration: underline;
}

.logo {
    margin-left: 10%;
    animation: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
