@import "./variables/variables";
@import "./sass2/extend";
@import "./sass2/mixins";

.header {
    @include flex-centrar;
    flex-direction: row;
    font-family: $tipo-de-letra;
    background-color: $azul;
    color: white;
    padding-top: 1%;
    p {
        margin-left: 3px;
        margin-right: 3px;
    }
}

.navbarNav {
    @include flex-centrar;
}

.nav-link {
    @extend .fuentes;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.logo {
    margin-left: 10%;
}
