@import "./variables/variables";
@import "./sass2/extend";
@import "./sass2/mixins";


/* -- ==================================================== 
-- ----------------------Header -------------------------
-- ====================================================  */
.contHeader {
    @include flex-centrar;
    background-color: $azul;
}

form>button {
    font-size: $font-size-header;
    font-weight: bold;
}

nav {
    background-color: white
}

.navbarNav {
    @include flex-centrar;
}

.nav-link {
    @include fuentes;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}



.logo {
    margin-left: 10%;
    @include ani-bounce;
}