@import "../variables/variables";

/* -- ==================================================== 
--  Sobre nosotras mapa
-- ====================================================  */


#local {
    padding-bottom: 300px;
    display: flex;
    justify-content: flex-start;
}

.wrapper {
    width: 100%;
    padding-top: 150px;
}

