@import "../variables/variables";
@import "./scss/sass2/mixins";



.fuentes {
    font-family: $tipo-de-letra;
    font-style: normal;
    font-weight: bolder;
}

.fuentesh1 {
    color: $rosa;
    @include ani-bounce;
}

.card-body{
    display:flex;
    flex-direction:column;
    align-items: center;
    flex-wrap: wrap;
    }