@import "../variables/variables";

@mixin ani-bounce {
    animation: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@mixin flex-centrar {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}


